*{
    background-color: rgb(36, 206, 36);
}
a {
    color: rgb(0, 60, 255);
    font-size: 25px;
}
h{
    font-size: 50px;
    color: blue;
}
.left {
    align-items: left;
}
.right {
    float: right;
}